.block_lister {
  width: 900px;
  margin: auto;
 .search_container {
   float: right;
   width: 300px;
   padding-bottom: 20px;
 }
  .pagination {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
  }
}