.block_line_thumb {
  padding: 15px;
  margin-bottom: 3px;
  background: rgba(255,255,255,0.5);
  transition: background 500ms;
  .block_name {
    font-size: 1.3em;
  }

  .show_description_button {
    float: right;
  }

  .description {

    overflow: hidden;
    display: none;
    a {
      color: #000000;
      text-decoration: none;
    }
    .actions {
      float: right;
    }
  }

  &.expanded {
    background: white;
  }
}