.block_edition {
  width: 1000px;
  margin: auto;

  .title {
    float:right;
  }

  .info {
    display: none;
  }
  .loader_container {
    height: 33px;
    .loader {
      display: none;
    }
  }
  form {
      .custom_field {
      display: block;
      .solid_key {
        display: none;
      }
    }
  }
  .description_container {
    > div {
      height: 400px;
    }
  }

  .actions_top {
    float: right;
    text-align: right;
  }

  .add_tag_button {
    float: right;
    display: block;
  }

  .tags_list {
    margin-top: 5px;
    margin-bottom: 5px;
    .tag_thumb {
      float: left;
      margin: 0 1px 1px 0;
    }
  }
}