<div class="input-group search_container">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="search_input form-control" placeholder="Search for a block">
</div>
<h1>Block Store</h1>
<div class="clearer"></div>
<div class="information">
    Here are blocks that have already been published. Click on their title to have more info about how they work
    and about their public interface.
</div>
<div class="block_lister_content">
<div class="pure-u-1-4">
    <div class="categories">
        <div class="category_filters_container">
            <strong>Filter by category</strong>
            <ul class="tags_list"></ul>
        </div>
    </div>
</div>
<ul class="list pure-u-3-4">

</ul>
</div>
<ul class="pagination">
    <li><a href="javascript:void(0);" class="previous_page_button">&laquo;</a></li>
    <!--<li><a href="javascript:void(0);">2</a></li>-->
    <!--<li><a href="javascript:void(0);">3</a></li>-->
    <!--<li><a href="javascript:void(0);">4</a></li>-->
    <!--<li><a href="javascript:void(0);">5</a></li>-->
    <li><a href="javascript:void(0);" class="next_page_button">&raquo;</a></li>
</ul>