<div class="row">

    <div class="col-md-8">
        <div class="pane main_pane">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search for a block">
            </div>

            <div class="featured_blocks">
                <h1>Featured blocks</h1>

                <div class="information">
                    These are the most popular blocks. Click on one to see details for installation, documentation and
                    so on.
                </div>
                <div class="featured_blocks rows">
                    <div class="col-md-6 col-sm-6">
                        <div class="bundle_block_thumb ">
                            <h3>Some block</h3>
                            <div class="logo_container visible-lg visible-xs">
                                <img src="http://placehold.it/100x100" />
                            </div>
                            <div class="description">
                                Lorem ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum.
                            </div>
                            <div class="actions">
                                <a href="javascript:void(0);"><i class="fa fa-download"></i> Download</a>
                                <a href="javascript:void(0);"><i class="fa fa-info"></i> More info</a>
                                <a href="javascript:void(0);"><i class="fa fa-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="bundle_block_thumb">
                            <h3>Some block</h3>
                            <div class="logo_container visible-lg visible-xs">
                                <img src="http://placehold.it/100x100" />
                            </div>
                            <div class="description">
                                Lorem ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum.
                            </div>
                            <div class="actions">
                                <a href="javascript:void(0);"><i class="fa fa-download"></i> Download</a>
                                <a href="javascript:void(0);"><i class="fa fa-info"></i> More info</a>
                                <a href="javascript:void(0);"><i class="fa fa-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="bundle_block_thumb">
                            <h3>Some block</h3>
                            <div class="logo_container visible-lg visible-xs">
                                <img src="http://placehold.it/100x100" />
                            </div>
                            <div class="description">
                                Lorem ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum lorem dolore ipsum.
                            </div>
                            <div class="actions">
                                <a href="javascript:void(0);"><i class="fa fa-download"></i> Download</a>
                                <a href="javascript:void(0);"><i class="fa fa-info"></i> More info</a>
                                <a href="javascript:void(0);"><i class="fa fa-github"></i> GitHub</a>
                            </div>
                        </div>
                    </div>


                    <div class="search_results">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="information">
            <p>
                Welcome to the Smartblocks Block Store !
            </p>

        </div>
        <div class="pane secondary_pane">

        </div>
    </div>


</div>