<div class="rows header_row">
    <div class="block_show_header pane col-md-12">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#BlocksExplorer">BlocksExplorer</a></li>
                <li class="active">Block : Notifications</li>
            </ol>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<div class="rows middle_row">
    <div class="col-md-8 pane main_pane">
        <div>
            <h1 class="block_name">
                Notifications
            </h1>

            <div class="description">
                The notifications block allows you to notify the user from other blocks
            </div>
            <div class="getting_started">
                <h2>Installation</h2>
                blablabla
                <h2>Usage</h2>
                balblalba
                <code>
                    Some code
                </code>
            </div>
        </div>
    </div>
    <div class="col-md-4 pane secondary_pane">
        <div>

        </div>

    </div>
    <div class="clearer"></div>
</div>
<div class="rows footer_row">
    <div class="block_show_footer actions pane col-md-12">
        <div>
            <a href="javascript:void(0);" class="pure-button"><i class="fa fa-github"></i> See on GitHub</a>
            <a href="javascript:void(0);" class="pure-button"><i class="fa fa-download"></i> Download latest release</a>
        </div>
    </div>
    <div class="clearer"></div>
</div>
