<h1 class="block_name">
    <%= block.get('name') %>
</h1>
<div class="rows middle_row">
    <div class="col-md-12 pane main_pane">
        <div>


            <a href="#BlocksExplorer"><i class="fa fa-arrow-left"></i> Back to Blocks Store</a>
            &nbsp;
            <% if (developer) { %>
            <div class="developer_button">
                <a href="#BlocksManager/edit/<%= block.get('id') %>"><i class="fa fa-edit"></i> Edit this block</a>
            </div>
            <% } %>

            <div class="getting_started">
                <%= block.get('getting_started') %>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="javascript:void(0);" data-target="description" class="selected">Description of the block</a></li>
                <li><a href="javascript:void(0);" data-target="interface_description">Public interface</a></li>
            </ul>
            <div class="description tab enabled">
                <%= SmartBlocks.Blocks.Markdown.Main.convertToHTML(block.get('description')) %>
            </div>
            <div class="interface_description tab">
                <%= SmartBlocks.Blocks.Markdown.Main.convertToHTML(block.get('interface_description')) %>
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<% if (block.get('github_url') || block.get('release_link')) { %>
<div class="rows footer_row">
    <div class="block_show_footer actions pane col-md-12">
        <div>
            <% if (block.get('github_url')) { %>
            <a href="<%= block.get('github_url') %>" target="_blank" class="pure-button"><i class="fa fa-github"></i>
                See on GitHub</a>
            <% } %>
            <% if (block.get('release_link')) {%>
            <a href="<%= block.get('release_link') %>" class="pure-button download_button"><i
                    class="fa fa-download"></i> Download
                latest release (<span class="version"><%= block.get('current_version') %></span>)</a>
            <% } %>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<% } %>