<a href="#BlocksExplorer/show/<%= block.get('id') %>" class="block_name"><%= block.get('name') %></a>

<% if (block.get('short_description')) { %>

<span class="short_description"><%= block.get('short_description') %></span>

<% } %>
<a href="javascript:void(0);" class="show_description_button">More info<i class="fa fa-arrow-down"></i></a>
<div class="description markdown_exported">
    <%= SmartBlocks.Blocks.Markdown.Main.convertToHTML(block.get('description')) %>

    <div class="actions">

        <a href="#BlocksExplorer/show/<%= block.get('id') %>" class="btn btn-default"><i class="fa fa-eye"></i> Block page</a>
        <% if (block.get('github_url')) {%>
        <a href="<%= block.get('github_url') %>" class="btn btn-default"><i class="fa fa-github"></i> <%= block.get('name') %> on GitHub</a>
        <% }%>
    </div>
    <div class="clearer"></div>
</div>